.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    color: white;
    align-items: center;
    border-style: inset;
    border-radius: 5px;
    margin-top: 20px;
    

}

