.estrutura_lista{
    background-color: white;
    text-align: center;
    width: 40%;
    margin: 10%;
    margin-left: 30%;
    border-radius: 50px;
    

    table{
        align-items: center;
        padding: 5%;
        margin-left: 23%;

        @media(max-width:1750px){
            margin: auto;

        }

        th{
            padding: 15px 30px;

            @media(max-width:1750px){
                padding: 5px;
                margin: auto;
            }
            
        }

        td{
            text-align: center;
        }

        .link{
            margin-bottom: 10%;
        }


        


    }
}